<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.stalkervod">
        <category id="portal" label="32001" help="">
            <group id="server" label="32002">
                <setting id="server_address" type="string" label="32003" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>
            </group>

            <group id="context" label="32004">
                <setting id="alternative_context_path" type="boolean" label="32005" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
            </group>

            <group id="device_info" label="32006">
                <setting id="mac_address" type="string" label="32007" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>
            </group>

            <group id="device_ids" label="32008">
                <setting id="serial_number" type="string" label="32009" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="device_id" type="string" label="32010" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="device_id_2" type="string" label="32011" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="signature" type="string" label="32012" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>
            </group>
        </category>
    </section>
</settings>
